.option {
  padding: 8px 16px;
  border-radius: 10px;
  background: rgba(160, 244, 255, 0.42);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media (pointer: fine) {
  .option:hover {
    background: rgba(0, 169, 191, 0.543);
    transform: translateX(0.75px) translateY(-0.75px);
    box-shadow: 1px 1px 10px rgba(79, 79, 79, 0.267);
  }
}
