@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: poppins;
  transition: all 0.3s ease-in-out;
}

.light {
  background: #ffffff;
}

.dark {
  background: linear-gradient(107deg, #292323 0%, #000 51.88%, #2b2b2b 100%);
}

#body {
  height: 100vh;
  width: 100vw;
}

#app {
  position: fixed;
  height: 80vh;
  width: 90vw;
  top: 10vh;
  left: 5vw;
}

h1 {
  font-size: 3rem;
}

button {
  background-color: #7b47fe;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 900;
  padding: 8px 16px;
  border: none;
  margin-top: 10%;
  color: white;
  cursor: pointer;
}

button:hover {
  transform: translateX(-1px) translateY(-1px);
  box-shadow: 3px 3px 10px rgba(79, 79, 79, 0.282);
}

/* classes for text colors  */
.blue {
  color: #475ede;
}

.yellow {
  color: #ffc32d;
}

.red {
  color: #ff6a61;
}

.white {
  color: white;
}

/* theme toggle button css  */
#toggleButton {
  width: 50px;
  height: 1.5rem;
  background-color: #475ede;
  position: fixed;
  top: 2.5vh;
  right: 5vw;
  border-radius: 34px;
}

input {
  visibility: hidden;
}

#switch {
  display: inline-block;
  border-radius: 34px;
  height: 100%;
  width: 100%;
}

#slider {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 34px;
  background-color: rgb(253, 253, 253);
  left: 0;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25) inset;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#slider::before {
  content: "";
  position: absolute;
  left: 3px;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  top: 0.125rem;
  background-color: white;
  background-image: url("./components/assets/light.png");
  background-size: contain;
  z-index: 10;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

input:checked + #slider::before {
  transform: translateX(25px);
  background-color: black;
  background-image: url("./components/assets/dark.png");
}

input:checked + #slider {
  background-color: rgb(67, 67, 67);
}

/* media query  */
@media (min-width: 1000px) {
  #app {
    width: 70vw;
    left: 15vw;
  }
  #toggleButton {
    position: fixed;
    top: 2.5vh;
    right: 15vw;
  }
}
